	* {padding:10; margin:10;}

	html 
	{
		background:#f0fff0;
		padding:0px 0px 0;
		font-family:sans-serif;
		font-size:14px;
	}
	
	.tooltip
	{
		position:absolute;
		background:#fff;
		color:#000;
	}
	
	#tableButtons
	{
		list-style-type: none;
		list-style-position: inside;
		margin-left: 0;
		padding-left: 0;
		text-indent: 0;
	}
	
	#characters .characterNames
	{
		background: #b4c6c4;
	}
	
	#characters .characterNames .characterContent
	{
		background: #f0fff0;
		display:none;
	}

	.tabs a.active 
	{
		background:#fff;
		color:#000;
	}
	
	nav 
	{
		background:#b4c7c4;
		padding:10px 0;
		-moz-border-radius-topright: 15px;
		-moz-border-radius-bottomleft: 15px;
		border-radius: 0px 15px 0px 15px;
		-webkit-border-top-right-radius: 15px 15px;	
		-webkit-border-bottom-left-radius: 15px 15px;
	}
	nav ul 
	{
		list-style-type:none;
		margin:0;
		padding:0;
	}
	
	nav ul li
	{
		display:inline-block;
		position:relative;
	}
	
	nav li ul 
	{
		position:absolute;
		left:0;
		top:44px;
	}
	
	nav a 
	{
		text-align: center;
		line-height:40px;
		padding:2px 12px;
		margin:0 12px;
		background: #b4c7c4;
		color:#fff;
		width:90px;
		text-decoration:none;
		display:block;	
		-moz-border-radius-topright: 15px;
		-moz-border-radius-bottomleft: 15px;
		border-radius: 0px 15px 0px 15px;
		-webkit-border-top-right-radius: 15px 15px;	
		-webkit-border-bottom-left-radius: 15px 15px;
		-webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, .3);
        -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, .3);
        box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, .3);
	}

	
	ul.sub 
	{
		display:none;	
		-moz-border-radius-topright: 15px;
		-moz-border-radius-bottomleft: 15px;
		border-radius: 0px 15px 0px 15px;
		-webkit-border-top-right-radius: 15px 15px;	
	}
	
	img
	{
		width:100px;
		height:140px;
	}
		
    body {font-family: "Century Gothic"; font-size:14px;}

    div
    { 
        padding-top: 3px; padding-right: 3px; padding-bottom: 3px; padding-left: 3px; 
        margin-top: 3px; margin-right: 3px; margin-bottom: 3px; margin-left: 3px; 
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
		border-radius: 6px;
        -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, .3);
        -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, .3);
        box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, .3);
    }
	
	table 
	{
		border-collapse: collapse;
		width: 100%;
	}
	
	header
	{
		padding: 10px;
		background:#f0fff0;
		color: #000;
		text-align: center;
		font-size:30px;
		font-style: italic;
		-webkit-border-radius: 6px;
        -moz-border-radius: 6px;
		border-radius: 6px;
        -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, .3);
        -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, .3);
        box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, .3);
	}
	
	h3
	{
		font-style:italic;
	}
	
	tr:nth-child(even)
	{
		background: #f2f2f2; 
	}
	
	th, td
	{		
		text-align: left;
		padding: 10px;
	}
	
    #container 
	{
		margin:auto; 
		width: 44.71%;
		box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
	}